* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"Arial";
}

body{
	background: linear-gradient(0deg,rgba(61, 61, 61, 1) 4%, rgba(237, 232, 232, 1) 100%);
	margin: 20px;

}

.search-container{
	margin-bottom:20px;
	text-align: center;

}

.search-container input[type="text"]{
	padding: 10px;
	width: 50%;
	border:1px solid #ddd;
	border-radius:4px;
	font-size:16px;
}

.search-container button {
	padding:10px 15px;
	background-color: #007bff;
	color:white;
	border:none;
	border-radius:6px;
	cursor: pointer;
	font-size:16px;
}

.search-container button: hover{
	background-color: #4ca11f;
	transition: 0.3s;

}

#products-list{
	list-style: none;
	padding: 0;
	display:flex ;/*para mostrar los productos en fila*/
	flex-wrap: wrap;/* para que se ajuste los elementos a la pantalla*/
	gap:20px;/*espacio entre los productos*/
	

}

#products-list  li{
	justify-content: center;
	justify-items: center;
	background-color:white;
	border:5px solid 8px;
	border-radius: 8px;
	padding: 15px;
	width:400px;/*ancho fijo para cada producto*/
	height:350px ;
}

#products-list li h3{
	color:#333;
	margin-top:0;

}

#products-list li p{
	color: #666;
	font-size: 16px;

}
